/* Primero: Import de fuentes externas */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

/* Segundo: Tailwind CSS */
@import "tailwindcss";

/* Tercero: Tus estilos personalizados */
html {
  scroll-behavior: smooth;
}

/* Opcional: Agregar la fuente a Tailwind */
@theme {
  --color-primary-blue: #222f8c;
  --color-primary-orange: #eb6211;
}
